$primary-color: #333;
$white: #fff;
$navbar-height: 80px;

$bg-home-color: #0b51d2;
$bg-about-color: #25379f;
$bg-promise-color: #020144;
$bg-services-color: #549725;
$bg-contact-color: #b55303;

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin desktop-large {
    @media (max-width: 1920px) {
        @content;
    }
}

@mixin desktop-xl {
    @media (max-width: 2560px) {
        @content;
    }
}

@mixin tablet-portrait {
    @media (max-width: 768px) and (orientation: portrait) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (max-width: 1024px) and (orientation: landscape) {
        @content;
    }
}

